*,
*::before,
*::after {
  box-sizing: border-box;
}

.list {
  list-style: none;
  display: flex;
  width: 350px;
  flex-wrap: wrap;
  gap: 15px;
}

.item {
  align-items: center;
  justify-content: center;
}

.btn {
 width: 70px;
 height: 20px;
 background-color: tomato;
 color: blue;
}

.button {
  display: inline-block;

  width: 12.5rem;
  height: 3.125rem;

  background-color: blue;
  color: white;

  font-size: 1.25rem;
  font-weight: 600;
  font-style: italic;

  border: 2px solid black;
  border-radius: 0.3125rem;

  padding: 0.625rem;
  margin-top: 20px;
  margin-left: 100px;

  cursor: pointer;
  transition: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: tomato;
  color: blue;
}